<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355062523045-0rekkhl6t14rckb14fc712kdnfm2n59c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355062523045-0rekkhl6t14rckb14fc712kdnfm2n59c</string>
	<key>API_KEY</key>
	<string>AIzaSyCjwSOLG4SbOVNMKBsbI65Ulo-W4CU1YX4</string>
	<key>GCM_SENDER_ID</key>
	<string>355062523045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectgraduate</string>
	<key>PROJECT_ID</key>
	<string>graduateproject-996fc</string>
	<key>STORAGE_BUCKET</key>
	<string>graduateproject-996fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355062523045:ios:464c907ec97132cafad94c</string>
</dict>
</plist>